:root {
  --background: #b3cbfb;
  --accent: #94b6f7;
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --background: #373e68;
    --accent: #181861;
  }
}

.side-menu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 250px;
  height: calc(100% - 50px);
  background-color: var(--background);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.hidden {
  transform: translateX(-200%);
}

.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  accent-color: var(--accent);
}

.dropdown {
  -webkit-appearance: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  position: relative; 
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg'><path d='M8 11L3 6l1.5-1.5L8 9.2 12.5 4.5 14 6z' fill='%23ccc'></path></svg>");
  background-repeat: no-repeat;
  background-position: right 5px;
}